.welcomeText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2vh;
  margin: 0;
  text-align: center;
  font-size: 1.4vh;
  color: white;
  background-image: url('../../assets/images/WelcomeBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 35vh;
  width: 100%;
}

.welcomeText h1 {
  font-family: 'PT Serif', serif;
}
