.skills {
  padding: 50px 0;
  text-align: center;
  color: white;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.skillItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillItem img {
  height: 80px;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .skillsGrid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
