.skills {
  padding: 50px 0;
  text-align: center;
  color: white;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.skillItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillItem img {
  height: 52px;
  margin: 10px 2px;
}

@media only screen and (max-width: 1000px) {
  .skillsGrid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .skillItem img {
    height: 38px;
  }
}
