.about {
  padding-top: 13vh;
  padding-bottom: 6vh;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.aboutCol1,
.aboutCol2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutCol1 {
  flex-basis: 30%;
}

.aboutCol1 img {
  max-height: 30vh;
  max-width: 25vh;
  height: auto;
  border-radius: 15px;
  margin-right: 20px;
}

.aboutCol2 {
  flex-basis: 70%;
  background-color: #262626;
  border-radius: 15px;
  padding: 15px 150px;
  max-height: 30vh;
}
.aboutCol2 h1 {
  font-size: 28px;
  text-align: center;
  font-family: 'PT Serif', serif;
}
.aboutCol2 p {
  margin-top: 5px;
  text-align:center;
  font-size: 18px;
  line-height: 2vh;
  font-family: 'Nunito Sans', sans-serif;
}

@media only screen and (max-width: 1600px) {
  .aboutCol2 {
    padding: 15px 50px;
  }

  .aboutCol2 h1 {
    font-size: 27px;
  }

  .aboutCol2 p{
    font-size: 17px;
  }
  
}

@media only screen and (max-width: 1200px) {
  .aboutCol2 {
    padding: 8px 15px;
  }

  .aboutCol2 h1 {
    font-size: 24px;
  }

  .aboutCol2 p{
    font-size: 16px;
    line-height: 23px;
  }
  
}

@media only screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
  
  .aboutCol1,
  .aboutCol2 {
    flex-basis: 100%;
    width: 90%;
    margin: 0 auto;
  }

  .aboutCol1 img {
    margin-bottom: 20px;
    max-width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .aboutCol2 {
    padding: 2px 6px;
    max-height: 150vh;
  }

  .aboutCol2 h1 {
    font-size: 24px;
  }
  
  .aboutCol2 p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 400px) {
  .aboutCol2 {
    padding: 4px 5px;
  }

  .aboutCol2 h1 {
    font-size: 17px;
  }

  .aboutCol2 p{
    font-size: 14px;
  }
  
}
