.about {
  padding-top: 20vh;
  padding-bottom: 6vh;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.aboutCol1,
.aboutCol2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutCol1 {
  flex-basis: 30%;
}

.aboutCol1 img {
  max-height: 40vh;
  max-width: 30vh;
  height: auto;
  border-radius: 15px;
  margin-right: 20px;
}

.aboutCol2 {
  flex-basis: 70%;
  background-color: #262626;
  border-radius: 15px;
  padding: 20px;
  max-height: 40vh;
}
.aboutCol2 h1 {
  font-size: 2.5vh;
  text-align: center;
}
.aboutCol2 p {
  margin-top: 1vh;
  text-align: justify;
  font-size: 1.5vh;
  line-height: 2vh;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .aboutCol1,
  .aboutCol2 {
    flex-basis: 100%;
  }

  .aboutCol1 img {
    margin-bottom: 20px;
  }
}
