.contact {
  color: white;
  background-color: #262626;
  border-top: white 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2vh 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.leftColumn {
  flex: 2;
  text-align: left;
}

.rightColumn {
  flex: -1;
  text-align: right;
}

.contactRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1vh;
  width: 100%;
}

.contactTitle {
  font-size: 1.5em;
  font-family: 'Roboto Slab', serif;
  margin-right: 10px;
}

.inputGroup {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5da;
  border-radius: 6px;
  overflow: hidden;
}

.formControl {
  color: white;
  flex-grow: 1;
  padding: 5px 10px;
  font-family: monospace;
  border: none;
  background-color: transparent;
  min-width: 220px;
}

.copyBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #eff3f6;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.copyBtn:hover {
  background-color: #a5a6a9;
}

.copyBtn.active {
  background-color: #eff3f6;
}

.octiconCopy {
  fill: #586069;
  width: 16px;
  height: 16px;
}

.socialLinks {
  display: flex;
  gap: 10px;
}

.socialIcon1 {
  width: 30px;
  height: 30px;
  border-radius: 15%;
  transition: filter 0.3s, box-shadow 0.3s;
  display: inline-block;
  overflow: hidden;
}

.socialIcon1:hover {
  filter: brightness(1.2);
  box-shadow: 0 0 10px 2px #a5a6a9;
}

.socialIcon2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: filter 0.3s, box-shadow 0.3s;
  display: inline-block;
  overflow: hidden;
}

.socialIcon2:hover {
  filter: brightness(1.2);
  box-shadow: 0 0 10px 2px #a5a6a9;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(236, 39, 39);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgb(200, 35, 35);
}

.btn:active {
  background-color: rgb(175, 30, 30);
  transform: translateY(2px);
}
