.contact {
  color: white;
  background-color: #262626;
  border-top: white 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2vh 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.leftColumn {
  flex: 2;
  text-align: left;
}

.rightColumn {
  flex: -1; /* Adjusted for more space */
  text-align: right;
}

.contactRow {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns items to the start of the container */
  gap: 1vh;
  width: 100%;
}

.contactTitle {
  font-size: 1.5em;
  font-family: 'Roboto Slab', serif;
  margin-right: 10px; /* Space between title and email */
}

.inputGroup {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5da;
  border-radius: 6px;
  overflow: hidden; /* Ensures content fits within the borders */
}

.formControl {
  color: white;
  flex-grow: 1; /* Allows it to fill the space */
  padding: 5px 10px;
  font-family: monospace;
  border: none;
  background-color: transparent;
  min-width: 220px; /* Adjust based on your email length */
}

.copyBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #eff3f6;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.copyBtn:hover {
  background-color: #e1e4e8;
}

.octiconCopy {
  fill: #586069;
  width: 16px;
  height: 16px;
}

.socialLinks {
  display: flex;
  gap: 10px; /* Space between icons */
}

.socialIcon {
  width: 30px; /* Adjust as needed */
  height: auto;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(236, 39, 39);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgb(200, 35, 35);
}

.btn:active {
  background-color: rgb(175, 30, 30);
  transform: translateY(2px);
}
