.header {
  background-color: rgb(236, 39, 39);
  width: 100%;
  padding: 1vh 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 1vh 10%;
  display: flex; /* Align logo and nav */
  justify-content: space-between; /* Space between logo and nav */
}

.logoLink {
  display: inline-block; /* For proper sizing and alignment */
}

.logo {
  height: 5vh; /* Adjust as needed */
  width: auto; /* Maintain aspect ratio */
}

.menu {
  display: flex;
  justify-content: end;
  padding-right: 3vh;
  list-style: none;
  margin: 0;
}

.menu li {
  margin: 0.5vh 1vh;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8vh;
  position: relative;
  transition: color 0.3s ease;
}

.menu a span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.menu a:hover span {
  transform: scale(1.1);
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.6vh;
  width: 0;
  height: 0.4vh;
  border-radius: 0.2vh;
  background-color: #fff;
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .menu {
    justify-content: center;
    padding-right: 0;
  }
  
  .container {
    flex-direction: column; /* Stack logo and menu */
    align-items: center; /* Center items */
  }
  
  .logoLink {
    margin-bottom: 2vh; /* Space between logo and menu */
  }
}
